* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: hsl(256, 89%, 22%);
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 5vh;
}

.container {
    width: 85%;
    background-color: hsl(256, 95%, 15%);
    margin: auto;
    text-align: center;
}

.cards {
    height: 40vh;
    width: 80%;
    background-color: beige;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.card {
    height: 30vh;
    width: 25vh;
    background-color: rgb(121, 225, 61);
    margin: 10px;
}

.buttons {
    height: 7vh;
    width: 80%;
    background-color: crimson;
    margin: auto;
    padding: 1%;
}

.returnedText {
    background-color: gold;
    height: 10vh;
    width: 80%;
    margin: auto;
}

.scoreTable {
    background-color: darkslategrey;
    height: 7vh;
    width: 80%;
    margin: auto;
    padding: 1%;
}

button {
    padding: 5px;
    border-color: black;
    border-radius: 15px;
}

.scoreTable span {
    margin: 0px 20px 0px 20px;
}