/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Chakra+Petch&display=swap');

/* Margin and padding set to 0 and box size to border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style body fonts, margin, padding */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
}

/* Style for background video */

#background {
    object-fit: fill;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Style headers*/
h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 24px;
    font-family: "Carter One", sans-serif;
    padding: 1rem 0;
}

h2 {
    font-family: "Carter One", sans-serif;
}

h3 {
    text-decoration: underline;
}

/* Style Navbar and its elements */
nav {
    max-width: 100%;
    height: 14vh;
    width: 600px;
    padding: 0.5rem;
    text-align: center;
    background-color: hsl(256, 95%, 15%);
    margin: auto;
    border: 6px solid black;
    border-radius: 15px;
}

/* Change navbars display to inline */
nav li {
    display: inline;
    margin: auto;
}

/* Style a element to get the same hover effect as the buttons */

a {
    padding: 0.3em 0.5em;
    border: none;
    outline: none;
    color: rgb(134, 17, 236);
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
}

a:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-buttons 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-buttons {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

a:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

a:hover {
    cursor: pointer;
    color: white;
    transition: color 1s;
    font-weight: bold;
    transition: font-weight 1s;
}

/* Style container */
.container {
    width: 600px;
    max-width: 100%;
    margin: auto;
    padding: 0.5rem;
    background-color: #15024b;
    text-align: center;
    border: 6px solid black;
    border-radius: 15px;
}

/* Change cards div display to generate 2 columns */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}

/* Style cards */
.card {
    flex: 0 0 120px;
    height: 160px;
    background-color: white;
    border: 2px solid rgb(134, 17, 236);
    border-radius: 15px;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Style playerTitles to fit over its card div */
.playerTitles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.playerTitles p {
    width: 120px;
    font-family: 'Carter One', sans-serif;
    color: chartreuse;
}

/* Style the card image to fit in the card div */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Style the buttons section to display in a row */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px 5px 0px;
}

/* Style returnedText div */
.returnedText {
    background-color: white;
    border: 2px black solid;
    height: 12vh;
    width: 15em;
    margin: auto;
    border-radius: 15px;
}

/* Style scoreTable */
.scoreTable {
    background-color: #8611ec;
    height: auto;
    width: 15em;
    margin: auto;
    padding-top: 0.5rem 0;
    border: 2px solid black;
    border-radius: 15px;
    color: #7fff00;
    text-align: center;

}

/* Set the popUp div  */
.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 15px;
    padding: 30px;
    height: 550px;
    overflow-y: auto;
}

/* Style rules section */
#rules {
    min-width: 320px;
    max-width: 600px;
    width: fit-content;
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    margin-top: 2em;
}

/* Style boxes inside rules section */
.boxes {
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    background-color: #6495ed;
}

/* Style the paragraphs inside rules section */
.boxes p {
    padding: 15px;
    text-align: justify;
    font-size: 14px;

}

/* Style unordered list to look like paragraphs in rules section */
.boxes>ul {
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    text-align: center;
}

/* Style Feedback form */

#feedback {
    min-width: 320px;
    max-width: 600px;
    width: fit-content;
    background-color: #6495ed;
    border: 5px solid black;
    border-radius: 15px;
    padding: 30px;
}

/* Style the feedback form to display in a column */
#feedback form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

label {
    display: block;
}

input {
    display: block;
}

textarea {
    margin-bottom: 20px;
}

#feedback button {
    width: fit-content;
    margin-top: 10px;
    padding: 5px 30px;
}

/* Style buttons class */
button {
    padding: 0.3em 0.5em;
    border: none;
    outline: none;
    color: #8611ec;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Chakra Petch', sans-serif;
}

button:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-buttons 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-buttons {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    color: white;
    transition: color 1s;
    font-weight: bold;
    transition font-weight: 1s;
}

/* Style errorpage */
/* Style errorContainer to center it */

#errorContainer {
    margin-top: 10%;
}
#errorTitle h2{
    color: white;
    margin: 1em;
}
#errorText h3 {
    color: white;
    margin: 1em;
}
#errorText {
    margin: 1em;
}